# macOS files
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native/Expo
.expo/
.expo-shared/
ios/Pods/
ios/*.xcworkspace
ios/build/
android/build/
android/app/build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifacts
*.tgz

# Various settings
.idea/
*.iml
.vscode/

# Keystore files
*.jks
*.keystore

# Babel cache
babel-cache/

# Metro bundler cache
metro-cache/
metro-bundler-cache/

# Jest
coverage/
.jest/

# Detox
detox/

# Others
*.log
*.pid
*.pid.lock
*.hprof
*.app
*.ipa
*.apk

# Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
